*{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    margin-left: 1rem;
    font-weight: 500;
}

.img-container{
    max-width: 15%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.img-container img{
    width: 100%;
    height: auto;
}